body {
  background-color: lightgrey;
}

.myNav {
  font-size: 18px;
}

    .myNavLinks {
      color: white;
    }

    .myNavBtn {
      margin-left: 1em;
      background-color: #0F547F;
      border: 1px solid #0F547F;
    }

        .myNavBtn > span {
          background-color: grey;
        }

.mainContent {
  margin-top: 3.5em;
}

    .work {
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .workContent {
          padding-left: 3em;
        }

        .projFormat {

        }

            .projFormat > img {
              width: 180px;
            }

            .projContent {
              padding-top: 1em;
            }

    .skills {
      background-color: darkgrey;
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .skillsContent {
          padding-top: 3em;
          padding-right: 4em;
          padding-left: 4em;
        }

        .skillsContent > ul {
          display: flex;
          justify-content: center;
          flex-flow: row wrap;
        }

        .skillsContent > ul > li {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          padding-left: 2em;
          padding-right: 2em;
        }

        .skillsContent > ul > li > img {
          width: 90px;
          height: 90px;
        }

        .skillsContent > ul > li > p {
          font-weight: bold

        }

    .about {
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .aboutContent {
          padding-left: 3em;
          padding-right: 10em;
        }

    .contact {
      background-color: darkgrey;
      padding-top: 2em;
      padding-bottom: 4em;
    }
