html, button, input, select, textarea, a,
.pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: Times, "Times New Roman", Georgia, serif;
    }

body {
  background-color: rgb(106,197,255);
}

.pure-u-1 {
  position: relative;
  display: block;
  min-height: 200px;
  border-bottom: 1px solid #0F547F;
  z-index: -1;
}

.mainContent {
  width: 100%;
}

.navigation {
  position: fixed;
  background-color: rgb(15,84,127);
  width: 100%;
  height: 3.5em;
  border: 1px solid green;
}

    .navLinks {
      float: left;
      display: inline-block;
      color: white;
      padding-top: 1em;
    }

        .navLinks > a {
          border-right: 2px solid grey;
          border-left: 2px solid grey;
          padding-right: .5em;
          padding-left: .5em;
          color: #1DA7FF;
          text-decoration: none;
          font-size: 18px;
          margin-left: 1em;
        }

        .navLinks a:hover {
          padding-top: 1em;
          padding-bottom: 1em;
          background-color: rgba(24, 134, 204, .3);
          transition-duration: .5s;
        }

    .iconBar {
      border: 1px solid black;
      float: right;
      display: inline-block;
      color: white;
    }

        .iconBar > a {
          color: white;
          text-decoration: none;
        }

.Introduction {
  margin-top: 3.5em;
  height: 445px;
}

.projNotice {
  width: 100%;
  text-align: center;
}

.projectWrapper {
  width: 60em;
  margin: 0 auto;
  text-align: center;
}
    .projectWrapper > div > div > a > img {
      width: 240px;
      margin: 0 auto;
    }

    .projContentWrapper {
      padding: 2em;
    }

        .projContentWrapper > div > p {
          font-size: 24px;
        }



