body {
  background-color: lightgrey;
}

.myNav {
  font-size: 18px;
}

    .myNavLinks {
      color: white;
    }

    .myNavBtn {
      margin-left: 1em;
      background-color: #0F547F;
      border: 1px solid #0F547F;
    }

        .myNavBtn > span {
          background-color: grey;
        }

.mainContent {
  margin-top: 3.5em;
}

    .work {

    }

        .workContent {
          padding-left: 3em;
        }

        .projFormat {

        }

            .projFormat > img {
              width: 180px;
            }

            .projContent {

            }

    .about {
      background-color: darkgrey;
    }

    .contact {

    }
