body {
  background-color: lightgrey;
}

.myNav {
  font-size: 18px;
  opacity: .95;
}

    .myNavLinks {
      color: white;
    }

    .myNavBtn {
      margin-left: 1em;
      background-color: #0F547F;
      border: 1px solid #0F547F;
    }

        .myNavBtn > span {
          background-color: grey;
        }

.mainContent {
  margin-top: 3.5em;
}

    .intro {
      background-color: silver;
    }

        .introContent {
          text-align: center;
        }

        .introContent > h1 {
          font-weight: bold;
          font-size: 60px;
        }

        @media only screen and (max-width: 768px) {
          .introContent {
            text-align: left;
          }
        }

    .work {
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .workContent {
          padding-left: 3em;
        }

        .projFormat {

        }

            .projFormat > img {
              width: 240px;
            }

            .projContent {
              padding-top: 1em;
            }

            .projContent > p {
              padding-top: 1em;
              font-size: 18px;
            }

            .projContent > a > button {
              color: black;
            }

    .skills {
      background-color: silver;
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .skillsContent {
          padding-top: 3em;
          padding-right: 4em;
          padding-left: 4em;
        }

        .skillsContent > ul {
          display: flex;
          justify-content: center;
          flex-flow: wrap;
        }

        .skillsContent > ul > li {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          padding-left: 2em;
          padding-right: 2em;
        }

        @media only screen and (max-width: 768px) {
          .skillsContent {
            padding-top: 3em;
            padding-left: 0;
            padding-right: 0;
          }

          .skillsContent > ul > li {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding-left: .5em;
            padding-right: .5em;
          }

        }

        .skillsContent > ul > li > img {
          width: 90px;
          height: 90px;
        }

        .skillsContent > ul > li > p {
          font-weight: bold;
        }

    .about {
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .aboutContent {
            font-weight: bold;
            font-size: 24px;
            padding-top: 1em;
            padding-left: 5em;
            padding-right: 5em;
        }

        @media only screen and (max-width: 992px) {
          .aboutContent {
            font-weight: bold;
            font-size: 24px;
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
          }
        }

    .contact {
      background-color: silver;
      padding-top: 2em;
      padding-bottom: 4em;
    }

        .contactContent {
          font-weight: bold;
          font-size: 24px;
          padding-left: 5em;
          padding-right: 5em;
        }

        @media only screen and (max-width: 992px) {
          .contactContent {
            font-weight: bold;
            font-size: 24px;
            padding-left: 1em;
            padding-right: 1em;
          }
        }

        .iconLinks > ul > li {
          display: inline-block;
          padding-left: 5px;
          padding-right: 5px;
        }

        .iconLinks > ul > li > a > img {
          width: 2em;
          transition: all .5s ease-in-out;
          vertical-align: bottom;
        }

        .iconLinks > ul > li > a > img:hover {
          width: 2.5em;
          transition-duration: .5s;
          vertical-align: bottom;
        }
