body {
  background-color: lightgrey;
}

.myNav {
  background-color: #0F547F;
  font-size: 18px;
}

    .myNavLinks {
      color: white;
    }

    .myNavBtn {
      margin-left: 1em;
      border: 1px solid grey;
    }

        .myNavBtn > span {
          background-color: grey;
        }

.mainContent {
  margin-top: 3.5em;
}

    .work {
      background-color: red;
    }

    .about {
      background-color: orange;
    }

    .contact {
      background-color: green;
    }
