<div class="container-fluid">

  <nav class="navbar navbar-fixed-top myNav">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-left myNavBtn" data-toggle="collapse"
          data-target="#navLinkItems">

          <span class="sr-only"></span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navLinkItems">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" class="myNavLinks">HOME <span class="sr-only">(current)</span></a></li>
          <li><a href="#" class="myNavLinks">WORK</a></li>
          <li><a href="#" class="myNavLinks">ABOUT</a></li>
          <li><a href="#" class="myNavLinks">CONTACT</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="mainContent">

{{!--       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 work">
        work
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about">
      aboutme
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact">
      contactme
      </div> --}}

      <div class="row work">
        work
      </div>

      <div class="row about">
      aboutme
      </div>

      <div class="row contact">
      contactme
      </div>
  </div>

</div>
