<div class="container-fluid">

  <nav class="navbar navbar-fixed-top bg-primary myNav">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-left myNavBtn" data-toggle="collapse"
          data-target="#navLinkItems">

          <span class="sr-only"></span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navLinkItems">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" class="myNavLinks">HOME <span class="sr-only">(current)</span></a></li>
          <li><a href="#" class="myNavLinks">WORK</a></li>
          <li><a href="#" class="myNavLinks">ABOUT</a></li>
          <li><a href="#" class="myNavLinks">CONTACT</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="mainContent">

      <div class="row work">
        <div class="container workContainer">

          <div class="workHeader">
            <h2>WORK</h2>
          </div>

          <div class="row workContent">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <img src="assets/images/project1.png" alt="Connect Four App" >
              <div class="projContent">
                <h3>Connect Four</h3>
                <a href="#"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="#"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>Description</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <img src="assets/images/project2.png" alt="Fenix Chat App">
              <div class="projContent">
                <h3>Fenix Chat</h3>
                <a href="#"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="#"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>Description</p>
              </div>
            </div>

            <div class="clearfix visible-sm visible-md"></div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <img src="assets/images/project3.png" alt="Trivia Game App">
              <div class="projContent">
                <h3>Trivia Game</h3>
                <a href="#"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="#"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>Description</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <img src="assets/images/project4.png" alt="PoliView App">
              <div class="projContent">
                <h3>PoliView</h3>
                <a href="#"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="#"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>Description</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row about">
        <div class="container aboutContainer">

          <div class="aboutHeader">
            <h2>ABOUT</h2>
          </div>

          <div class="aboutContent"></div>

        </div>
      </div>

      <div class="row contact">
        <div class="container contactContainer">

          <div class="contactHeader">
            <h2>CONTACT</h2>
          </div>

          <div class="contactContent"></div>

        </div>
      </div>
  </div>

</div>
