<div id="layout" ng-controller="MainController as mainCtrl" class="pure-g">
  <section class="navigation pure-u">
    <header>
      <nav class="navBar">
        <div class="navLinks">
          <a href="#">HOME</a>
          <a href="#">WORK</a>
          <a href="#">SKILLS</a>
          <a href="#">ABOUT</a>
          <a href="#">CONTACT</a>
        </div>
        <div class="iconBar">
          <a href="#" title="">Gmail Icon</a>
          <a href="#">Email me Icon</a>
        </div>
      </nav>
      <div class="menuToggle">
        <div class=""></div>
      </div>
    </header><!-- /header -->
  </section>
  <section class="Introduction pure-u-1">
    <header class="sectionHeader">
      <h3>Introduction</h3>
    </header><!-- /header -->
    <div class="greeting"></div>
  </section>
  <section class="work pure-u-1">
    <header class="sectionHeader">
      <h3>WORK</h3>
    </header><!-- /header -->
    <div class="projectWrapper pure-g">
      <div class="project1Wrapper pure-u-1-4">
        <a href="https://blizm87.github.io/project_01_build_a_game/">
          <img src="assets/images/project1.png" width="180" class="pure-img">
        </a>
        <div>Details Section </div>
      </div>
      <div class="project2Wrapper pure-u-1-4">
        <a href="#">
          <img src="assets/images/project2.png" width="180" class="pure-img">
        </a>
        <div>Details Section </div>
      </div>
      <div class="project3Wrapper pure-u-1-4">
        <a href="#">
          <img src="assets/images/project3.png" width="180" class="pure-img">
        </a>
        <div>Details Section </div>
      </div>
      <div class="project4Wrapper pure-u-1-4">
        <a href="#">
          <img src="assets/images/project4.png" width="180" class="pure-img">
        </a>
        <div>Details Section </div>
      </div>
    </div>
  </section>
  <section class="skills pure-u-1">
    <header class="sectionHeader">
      <h3>SKILLS</h3>
    </header><!-- /header -->
    <div class="skillsIconWrapper"></div>
  </section>
  <section class="about pure-u-1">
    <header class="sectionHeader">
      <h3>ABOUT</h3>
    </header><!-- /header -->
    <div class="aboutMe"></div>
  </section>
  <section class="contact pure-u-1">
    <header class="sectionHeader">
      <h3>CONTACT</h3>
    </header><!-- /header -->
    <div class="contactMe"></div>
  </section>
</div>
