<div class="container-fluid"  ng-controller="MainController as ctrl" id="home">

  <nav class="navbar navbar-fixed-top bg-primary myNav">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-left myNavBtn" data-toggle="collapse"
          data-target="#navLinkItems">

          <span class="sr-only"></span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navLinkItems">
        <ul class="nav navbar-nav">
          <li><span class="sr-only">(current)</span></li>
          <li><a href="#home" class="myNavLinks">HOME</a></li>
          <li><a href="#work" class="myNavLinks">WORK</a></li>
          <li><a href="#skills" class="myNavLinks">SKILLS</a></li>
          <li><a href="#about" class="myNavLinks">ABOUT</a></li>
          <li><a href="#contact" class="myNavLinks">CONTACT</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="mainContent">

      <div class="row intro">
        <div class="container introContainer">

          <div class="introContent">
            <h1>Hello and Welcome!</h1>
            <div>
              <br>
{{!--               <img src="" alt="">
 --}}              <br>
              <h2>My name is Justin Samuels. I am a web developer living in
               Los Angeles, California. And this is my portfolio. </h2>
            </div>
          </div>

        </div>
      </div>

      <div class="row work"  id="work">
        <div class="container workContainer">

          <div class="workHeader">
            <h2>WORK</h2>
          </div>

          <div class="row workContent">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <h3>Connect Four</h3>
              <img src="assets/images/project1.png" alt="Connect Four App" >
              <div class="projContent">
                <a href="https://blizm87.github.io/project_01_build_a_game/" target="https://blizm87.github.io/project_01_build_a_game/"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="https://github.com/blizm87/project_01_build_a_game" target="https://github.com/blizm87/project_01_build_a_game"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>A front-end only application that enables
                   two-player same screen competition. Where
                   the users try to align 4 of their pieces
                   horizontally, vertically, or diagonally
                   before their opponent.</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <h3>CGNWC APP</h3>
              <img src="assets/images/cgnwcProject.png" alt="Fenix Chat App">
              <div class="projContent">
                <a href="https://infinite-lowlands-55846.herokuapp.com/" target="https://infinite-lowlands-55846.herokuapp.com/"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="https://github.com/blizm87/CGNWC---Project" target="https://github.com/blizm87/CGNWC---Project"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>A Single-Page Application that advertises "The Coconut Grove Negro Women's Club"
                   services, events, and goals. Created as a MEAN Stack application, it utilizes
                   a Mongo Database for rendering events, AngularJS for two-way data binding and
                   implementing the Single-Page feature, and NodeJs in conjunction with Express for handling
                   the back-end logic.
                   </p>
              </div>
            </div>

            <div class="clearfix visible-sm visible-md"></div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <h3>Trivia Game</h3>
              <img src="assets/images/project3.png" alt="Trivia Game App">
              <div class="projContent">
                <a href="https://arcane-wave-24103.herokuapp.com/" target="https://arcane-wave-24103.herokuapp.com/"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="https://github.com/WDI-DTLA-41-Group-3/Trivia-Game" target="https://github.com/WDI-DTLA-41-Group-3/Trivia-Game"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>Have your mind blown, twisted, and overheated playing "Trivia Game."
                   A full-stack application, with real-time dual player competition, and
                   exciting music to go along with the challenging game play. This app was
                   produced via a team of four developers implementing agile practices.</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 projFormat">
              <h3>PoliView</h3>
              <img src="assets/images/project4.png" alt="PoliView App">
              <div class="projContent">
                <a href="https://pacific-savannah-27114.herokuapp.com/" target="https://pacific-savannah-27114.herokuapp.com/"><button type="button" class="btn btn-primary">View It</button></a>
                <a href="https://github.com/blizm87/project_04" target="https://github.com/blizm87/project_04"><button type="button" class="btn btn-primary">Check Code</button></a>
                <p>A web dashboard that facilitates chat forums,
                   video querys and feeds for entertainment or research,
                   and current event articles to stay modern and up to
                   date on topics ranging from technology, to sports,
                   to Capitol Hill or Wall Street.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row skills" id="skills">
        <div class="container skillsContainer">

          <div class="skillsHeader">
            <h2>SKILLS</h2>
          </div>

          <div class="row skillsContent">
            <ul class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
              <li>
                <img src="assets/icons/html5.png" alt="HTML 5">
                <p>HTML 5</p>
              </li>
              <li>
                <img src="assets/icons/css3.png" alt="CSS 3">
                <p>CSS 3</p>
              </li>
              <li>
                <img src="assets/icons/bootstrap.png" alt="BOOTSTRAP">
                <p>BOOTSTRAP</p>
              </li>
              <li>
                <img src="assets/icons/javascript.png" alt="JAVASCRIPT">
                <p>JAVASCRIPT</p>
              </li>
              <li>
                <img src="assets/icons/jquery.png" alt="JQUERY">
                <p>JQUERY</p>
              </li>
              <li>
                <img src="assets/icons/angularjs.png" alt="ANGULAR JS">
                <p>ANGULAR JS</p>
              </li>
              <li>
                <img src="assets/icons/reactjs.png" alt="REACT JS">
                <p>REACT JS</p>
              </li>
              <li>
                <img src="assets/icons/nodejs.ico" alt="NODE JS">
                <p>NODE JS</p>
              </li>
              <li>
                <img src="assets/icons/ruby.ico" alt="RUBY">
                <p>RUBY</p>
              </li>
              <li>
                <img src="assets/icons/rubyOnRails.png" alt="RUBY ON RAILS">
                <p>RUBY ON RAILS</p>
              </li>
              <li>
                <img src="assets/icons/mongodb.png" alt="MONGODB">
                <p>MONGODB</p>
              </li>
              <li>
                <img src="assets/icons/mySQL.png" alt="MYSQL">
                <p>MYSQL</p>
              </li>
              <li>
                <img src="assets/icons/postgresql.png" alt="POSTGRESQL">
                <p>POSTGRESQL</p>
              </li>
              <li>
                <img src="assets/icons/git.png" alt="GIT">
                <p>GIT</p>
              </li>
              <li>
                <img src="assets/icons/github.png" alt="GITHUB">
                <p>GITHUB</p>
              </li>
              <li>
                <img src="assets/icons/heroku.png" alt="HEROKU">
                <p>HEROKU</p>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row about" id="about">
        <div class="container aboutContainer">

          <div class="aboutHeader">
            <h2>ABOUT ME</h2>
          </div>

          <div class="aboutContent">
            <p>I am a web developer that specializes in Back-End Development. I began
                developing websites and applications November of 2016. And I'm a graduate of
                General Assembly's Web Development Immersive program. I have been trained in
                the Agile development environment, while adhering to best-practices of Scrum techinques.
                And I have assisted and contributed in product development through team collaboration
                technologies such as Trello and GitHub. As a developer and as a person, I enjoy
                problem-solving and learning new things daily. And am a firm believer that the mind needs
                to be stimulated constantly in order to grow. When I am not coding, I like to unwind by
                either playing basketball, weight lifting, or watching a movie; however, a game of
                chess does tend to take place somewhere in-between, at least once a day.
            </p>
          </div>

        </div>
      </div>

      <div class="row contact" id="contact">
        <div class="container contactContainer">

          <div class="contactHeader">
            <h2>GET IN TOUCH</h2>
          </div>

          <div class="contactContent">
            <div class="invitationContent">
              <p>If you would like to get in touch with me, don't hesitate to do so.
                  To discuss more details, email me at: <a href="mailto:blizm87@gmail.com">blizm87@gmail.com</a></p><br>
            </div>
            <div class="iconLinks">
              <p>Or message me on: </p>
              <ul>
                <li><a href="https://github.com/blizm87" target="https://github.com/blizm87">
                      <img src="assets/icons/github.png" alt="My GitHub"></a></li>
                <li><a href="https://www.linkedin.com/in/justin-samuels1987" target="https://www.linkedin.com/in/justin-samuels1987">
                      <img src="assets/icons/linkedIn.png" alt="My Linked In"></a></li>
                <li><a href="https://www.facebook.com/justin.samuels.7927" target="https://www.facebook.com/justin.samuels.7927">
                      <img src="assets/icons/facebook.png" alt="My Facebook"></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="row footer bg-primary">
        <p>&#9400; <span id="currentYear">2017 </span>Justin Samuels</p>
      </div>
  </div>

</div>
